
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-style: 'Space Mono' monospace ;
}

body{
 
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376);
}
/*Header Style */
.Title{
    font-family: "Space Mono";
    font-size: 3em;
    text-align: center;
    padding: 2em;
    font-weight: bold;
   

}
header{
    color:#ececec ;
}

/*Main Content Style */

.Main{
    background-color:rgba(255, 255, 255, 1) ;
    height: 100%;
    padding: 3em;
    border-radius: 43px 43px 0 0;
    
}

/*First Section Style */

.Label{
    font-family: "Space Mono";
 font-weight: bold;
 font-size: 3em;
 text-align: left;
 color:#2b5876 ;
 margin: 0.5em;

}

.FirstSection{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.BillInput{
    height: 48px;
    background-color:#F3F9FA ;
    border: none;
}

.BillInput[type="number"]{
    padding: 1em;
    font-family: "Space Mono";
    font-size: 1.8em;
    text-align: right;
    color: #3D6666;
    font-weight: bold;
    -moz-appearance: textfield;
    background-image: url('assets/dollar.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
/*Second Section Style */
.secondSection{
    padding: 1em;
}

.subTitle{
   text-shadow: 1px 1px #4e4376 ; 
}
.optionsContainer{
  
}
.firstRow, .secondRow, .thirdRow{
    list-style: none;
}
.tipSelection{
   padding: 1em;
   text-align: center;
   font-family: "Space Mono";
   color: #ffffff;
   font-size: 2.5em;
   line-height: 24px;
   font-weight: bold;
   border-radius:  43px 43px ;
   background-color: rgba(0, 54, 75, 0.89);
   margin: 0.8em;
   height: 0.8em;
   cursor: pointer;
   
}
.custom{
    background-color:#F3F9FA ;
    color: #2b5876;
}
.tipSelection:hover{
    background-color: #011116d8;
    transition: 0.5s;
}

.el{

}
/*Third Section Style */

.thirdSection{
    display: flex;
    flex-direction: column;
    
    padding: 1em;
}
.PeopleInput{
    height: 48px;
    background-color:#F3F9FA ;
    border: none;
}

.PeopleInput[type="number"]{
    padding: 1em;
    font-family: "Space Mono";
    font-size: 1.8em;
    text-align: right;
    color: #3D6666;
    font-weight: bold;
    -moz-appearance: textfield;
    background-image: url('assets/group.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;

}