
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-style: 'Space Mono' monospace ;
}

body{
 
    background: #2b5876; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b5876, #4e4376); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2b5876, #4e4376);
}
/*Header Style */
.Title{
    font-family: "Space Mono";
    font-size: 3em;
    text-align: center;
    padding: 2em;
    font-weight: bold;
    margin-bottom: 1em;
   

}
header{
    color:#ececec ;
}

/*Main Content Style */

.Main{
    background-color:rgba(255, 255, 255, 1) ;
    height: auto;
    padding: 3em;
    border-radius: 43px 43px 0 0;
    
}

/*First Section Style */

.Label{
    font-family: "Space Mono";
 font-weight: bold;
 font-size: 3em;
 text-align: left;
 color:#2b5876 ;
 margin: 0.5em;

}

.FirstSection{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.BillInput{
    height: 48px;
    background-color:#F3F9FA ;
    border: none;
}

.error{
    border: 2px solid #ff0000;
}

.BillInput[type="number"]{
    padding: 1em;
    font-family: "Space Mono";
    font-size: 1.8em;
    text-align: right;
    color: #3D6666;
    font-weight: bold;
    -moz-appearance: textfield;
    background-image: url('assets/dollar.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
/*Second Section Style */
.secondSection{
    padding: 1em;
}

.subTitle{
   text-shadow: 1px 1px #4e4376 ; 
}


.tipSelection{
   padding: 1em;
   font-family: "Space Mono";
   color: #ffffff;
   font-size: 2.5em;
   line-height: 24px;
   font-weight: bold;
   border-radius:  43px 43px ;
   background-color: rgba(0, 54, 75, 0.89);
   margin: 0.8em;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   width: 7em;
   border: 1px solid #2b5876;
  
}

.tipSelection:hover{
    background-color: #406690d8;
    transition: 0.5s;
}



/*Third Section Style */

.thirdSection{
    display: flex;
    flex-direction: column;
    
    padding: 1em;
}
.PeopleInput{
    height: 48px;
    background-color:#F3F9FA ;
    border: none;
}

.PeopleInput[type="number"]{
    padding: 1em;
    font-family: "Space Mono";
    font-size: 1.8em;
    text-align: right;
    color: #3D6666;
    font-weight: bold;
    -moz-appearance: textfield;
    background-image: url('assets/group.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;

}

/*Four Section Style */

.fourSection{
    padding: 1em;
   font-family: "Space Mono";
   color: #ffffff;
   font-size: 2.2em;
   line-height: 24px;
   font-weight: bold;
   border-radius:  43px 43px ;
   background-color: rgba(0, 54, 75, 0.89);
   margin-top: 2em;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   width: auto;
   height: 400px ;
   background-color:#F3F9FA ;
}

.reset{
    width: 80%;
    height: auto;
    padding: 0.5em;
    font-size: 1.5em;
    line-height: 29.62px;
}

.labelResult{
    color: #011116d8;
}

.result{
    color: #011116d8;
    font-weight: bolder;
    text-align: right;
    font-size: 2em;
}
ul{
    list-style: none;
   padding: 1em;
   
}

span{
     color: #7f9d9f;
}
/*Media Queries */
     
  @media only screen and (min-width: 700px){
    .Main{
      height: max-content;
    }

  }
  @media only screen and (min-width: 1025px){
      
    /*Global Section Styles */
    .Main{
       width: 70%;
       border-radius: 43px;
       margin: 0 auto;
       height: 70%;
       display: flex;
        padding: 0.5em;
      
    }
    .leftSide{
        flex: 0 0 47%;
        height: fit-content;
    }

    .rightSide{
        flex: 0 0 47%;
        height: fit-content;
    }
    
/*First Section Style */
    .Title{
        padding: 0.5em;
    }

    .Label{
        font-size: 1.4em;
    }


    
    .BillInput[type="number"]{
        padding: 0.5em;
        font-size: 1em;
        width: 90%;
    }

    

    /*Second Section Style */
    .secondSection{
        padding: 0.5em;
    }

    .tipSelection{
        padding: 0.6em;
        width: 6em ;
        margin: 0.3em 0;
        font-size: 1.2em;
        border-radius: 10px;
    }
    .optionsContainer{
        display: flex;
        align-items: center;
    
    }
    /*Third Section Style */

   
    
    .PeopleInput[type="number"]{
        padding: 0.5em;
        font-size: 1em;
        width: 90%;
    }

    /*fourth Section Style */

    .fourSection{
        padding: 0.5em;
        margin: 2em;
        height: 85% ;
        font-size: 1.6em;
    }
    .reset{
        width: 80%;
        margin-top: 3em;
    }

  }

    /*Error Classes */

    .PeopleInput{
       border: 3px solid #faf3f3;
    }